@import url('https://fonts.googleapis.com/css2?family=Judson&family=Odor+Mean+Chey&display=swap');
:root{
    --primary-color:#284B63;
    --secondary-color:#353535;
    --accent1-color:#D9D9D9;
    --accent2-color:#ffffff;

    --heading-font: 'Odor Mean Chey', serif;
    --paragraph-font: 'Judson', serif;

    --nav-background-color:#D9D9D9;
    --nav-link-color:#3c6e71;
    --nav-hover-link-color:#3c6e71;
    --nav-hover-background-color:#284B63;
}
body{
    width: 100%;
    height: auto;
}
header{
    width: 98%;
    height: 100px;
    margin: 2px;
    display: grid;
    border: 4px solid var(--secondary-color);
    border-radius: 4px;
    grid-template-columns: repeat(2,1fr) ;
    background-color: var(--nav-hover-link-color);
}
header nav{
    text-align: right;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 150px;
}
header nav a{
    background-color: var(--accent1-color);
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: var(--secondary-color);
    width: 100px;

}
nav a:hover{
    background-color: var(--secondary-color);
    text-decoration: underline;
    color: var(--accent2-color);
}
header img{
    width: 130px;
    height: auto;
    padding-top: 7px;
    padding-left: 100px;
    border-radius: 5px;
}
h1,h2{
    font-family: var(--heading-font);
    color:var(--primary-color);
}
p{
    font-family:var(--paragraph-font);
}
main{
    width: 98%;
    height: auto;
    margin: 2px;
}
.hero{
    width: 98%;
    height: 100px;
}
.hero img{
    width: 20%;
    height: auto;
    padding-left: 32em;
    padding-top: 125px;
}
.hero h1{
    position: absolute;
    top: 93px;
    left: 600px;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
}
.hero article{
    position: absolute;
    top: 120px;
    background-color: var(--accent1-color);
    width: 98%;
    height: 100px;
    border:3px solid var(--secondary-color);
    border-radius: 3px;
    padding-top: 15px;
}
.hero article img{
    height: auto;
    width: 10%;
    float: right;
    padding: 1px;
}
.hero article p{
    padding: 5px;
   
   
}
.history{
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--accent1-color);
    margin-top: 200px;
    border: 3px solid var(--secondary-color);
}
.history h2{
    padding-left: 5px;
}
.history p{
    margin: 20px;
}
section{
    width: 100%;
    background-color: var(--accent1-color);
    border: 3px solid var(--secondary-color);
    border-radius: 3px;
    margin-top: 5px;
}
section h2{
    text-align: center;
    font-size: 20px;
}
section .figure{
    border: thin var(--accent1-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 98%;
    margin: auto;
}
.figure img {
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 150px;
    justify-content: center;
    
}
figcaption {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    font-style: oblique;
    padding: 3px;
    text-align: center;
}
footer{
    width: 98%;
    height: auto;
    margin: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid var(--secondary-color);
    border-radius: 3px;
    background-color: var(--nav-hover-link-color);
}
footer p{
    padding: 5px;
    color: var(--accent1-color);
}
footer nav{

    display: flex;
    justify-content: center;
    padding-left: 350px;
}
footer nav a{
    text-decoration: none;
}
footer nav a:first-child{
    color: var(--accent1-color);
    margin-right: 350px;
    margin-top: 15px;
}
footer nav a img{
    max-width: 50px;
    max-height: 50px;
    margin-top: 5px;
    margin: 5px;
}
.contact{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color: var(--accent2-color);
    width: 100%;
    height: auto;
    margin: 2px;
}
.contact section{
    background-color: var(--accent2-color);
    border: none;
    display: grid;
    padding: 5px;
}
.contact section h1{
    margin-top: -5px;
    padding-left: 5px;
}
.contact section p{
    padding-left: 16px;
    font-size: 17px;
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    font-style: oblique;
    font-weight: bold;
    margin-top: 6px;
}.map iframe{
    max-width: 400px;
    max-height: 350px;
}
.contact img{
    width: 400px;
    height: 350px;
    padding-top: 254px;
}
.contact form{
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
}
  legend{
    padding: 0.5rem;
    font-size: 1.2em;
}
label{
    text-align: left;
    padding-right: 1rem;
    font-size: 0.9em;
}
input, textarea{
    padding: 0.5rem;
    font-size: 0.7rem;
    border: none;
    border-radius: 5px;
}
  input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
button{
    margin: 1rem;
    background-color: blue;
    color:white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem;
    font-size: 1rem;
    width: 80px;
    height: auto;
    margin-left:320px ;
}
  button:hover{
    background-color: green;
}