@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root{
    --primary-color:#284B63;
    --secondary-color:#353535;
    --accent1-color:#D9D9D9;
    --accent2-color:#ffffff;

    --heading-font:'teko',serif;
    --paragraph-font:'assistant',serif;

    --nav-background-color:#D9D9D9;
    --nav-link-color:#284B63;
    --nav-hover-link-color:#284B63;
    --nav-hover-background-color:#284B63;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color:var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display:block;
    color: var(--nav-link-color);
    text-decoration:none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color:var(--nav-linkk-color);
}
nav a:hover{
    color: var(--nav-hoverr-link-color);
    background-color: var(--nav-hover-background-color);   
}