@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Delius+Swash+Caps&family=Great+Vibes&family=IM+Fell+Great+Primer+SC&display=swap');

  :root{
    --first-color:#284B63;
    --second-color:#353535;
    --third-color:#D9D9D9;
    --fourth-color:#ffffff;
    --fifth-color:#3c6e71;

    --first-font-family: 'Bigshot One', cursive;
    --second-font-family: 'Delius Swash Caps', cursive;
    --third-font-family: 'Great Vibes', cursive;
    --fourth-font-family: 'IM Fell Great Primer SC', serif;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: var(--fourth-font-family);
    font-size: 1.2em;
    color:var(--second-color);
    background-color: var(--fourth-color);
  }
  header{
    margin: 0 auto;
    width: 650px;
  }
  h1{
    margin: 1rem;
    font-size: 1.5em;
    color: var(--first-color);
    text-align: center;
  }
  form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--second-color);
    border-radius: 0.5rem;
    background-color: var(--third-color);
    display: grid;
  }
  fieldset{
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid var(--fifth-color);
    padding: 1rem;
  }
  legend{
    padding: 0.5rem;
    color: var(--first-color);
    font-size: 1.2em;
    font-family: var(--first-font-family);
  }
  label, input{
    font-family: var(--third-font-family);
  }
  button, select, textarea{
    font-family: var(--second-font-family);
  }
  label{
    text-align: left;
    padding-right: 1rem;
    font-size: 1.1em;
  }
  input, select, textarea{
    padding: 0.5rem;
    font-size: 0.7rem;
    border: none;
    border-radius: 5px;
  }
  button{
    margin: 1rem;
    background-color:rgb(3, 3, 88);
    color: var(--fourth-color);
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 1.1rem;
  }
  button:hover{
    background-color: var(--fifth-color);
  }
  footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: var(--first-color);
    border-top: 1px solid var(--third-color);
  }
  .margin{
    width: 200px;
    text-align: center;
    margin-left: 150px;
    color: var(--fourth-color);
    background-color: var(--second-color);
    font-family: var(--second-font-family);
  }

